@import '~bootstrap/scss/bootstrap';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.page {
  margin-top: 24px;
  padding: 20px 40px;
  
  @media (max-width: 500px) {
    padding: 20px;
  }

  &_title {
    font-size: 2rem;
    font-weight: bold;
    color: #282c34;
  }

  &_loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
      width: 125px;
      height: 125px;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}

.stuff {

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {}

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
      }
      .total {
        font-size: 18px;
      }
    }
  }

  .add {
    margin-bottom: 48px;
    .form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      Button {
        margin-top: 8px;
      }
    }
  }

  .list {
    margin-top: 24px;
    gap: 2px;

    .ready {
      background-color: #00ff2281;
    }

    &_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      transition: all 333ms ease;
      
      &:hover {
        background-color: #0d6dfd25;
        transition: all 333ms ease;
      }

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_top {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .name {
            width: 50%;
          }
    
          .nums {
            width: 25%;
            min-width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 4px;
    
            @media (max-width: 500px) {
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
    
    
            .data {
              font-size: 12px;
            }
    
            .total {
              font-size: 14px;
            }
          }
  
        }

        &_bot {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          .market {
            color: #666;
          }
        }

      }
      
    }
  }
}

.clothing {

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {}

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
      }
      .total {
        font-size: 18px;
      }
    }
  }

  .add {
    margin-bottom: 48px;
    .form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      Button {
        margin-top: 8px;
      }
    }
  }

  .list {
    margin-top: 24px;
    gap: 2px;

    .ready {
      background-color: #00ff2281;
    }

    &_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      transition: all 333ms ease;
      
      &:hover {
        background-color: #0d6dfd25;
        transition: all 333ms ease;
      }

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_top {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .name {
            width: 50%;
          }
    
          .nums {
            width: 25%;
            min-width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 4px;
    
            @media (max-width: 500px) {
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
    
    
            .data {
              font-size: 12px;
            }
    
            .total {
              font-size: 14px;
            }
          }
  
        }

        &_bot {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          .market {
            color: #666;
          }
        }

      }
      
    }
  }
}

.itemModal {
  &_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    
    * {
      width: 100%;
    }
  }

  &_footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between !important;

    .left {
      display: flex;
      gap: 4px;
    }

    .right {
      display: flex;
      gap: 4px;
    }
  }
}